body {
    background-color: #212121;
    color: #9de6ce;
    text-align:center;
}

header {
    padding: 0 3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 10rem;
}

header ul {
    margin-top: 0;
    margin-bottom: 1em;
}

header li {
    display: inline-block;
}

header li a {
    text-decoration: none;
    color: #9de6ce;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img.listMemes {
    height: auto;
    width: 20rem;
    border-radius: 1.5rem 1.5rem 0 0;
}

div.cards {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:4rem;
}

div.card {
    background-color: #9de5ce;
    border-radius: 2rem;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

div.card.meme {
    padding: 0;
    justify-content: space-between;
}
.card .text {
    color: #212121;
}

div.icon {
    font-size:8rem;
    color: #212121;
    display: flex;
}

div.actions {
    display:flex;
    justify-content: space-between;
    font-size:3rem;
    color: #212121;
}

.meme div.actions {
    justify-content: space-around;
    padding-bottom: 2rem;
}

.action {
    border-radius: 2rem;
    background-color: #212121;
    color:#9de5ce;
    font-size: 2rem;
    border-radius: 11rem;
    padding: 0.4rem 0.5rem 0.2rem 0.5rem;
}


